:root{
  --primary-darker-color:#005f61;
  --primary-color:#008184;
  --primary-lighter-color:#00cccf;
}

.fa-effect-strike {
  position: relative;
}

.fa-effect-strike::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  background-color: red;
  width: 100%;
  height: 15%;
  transform: rotate(-15deg);
}

.item {
  border-radius: 10px;
  overflow: hidden;
}

.primary-color-style {
  background-color: var(--primary-color);
  background: var(--primary-color);
  color: white;
}

.primary-darker-color-style {
  background-color: var(--primary-darker-color);
  background: var(--primary-darker-color);
  color: white;
}


.slidecontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 50%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  content: "0";
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#servomotor-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;
}
#servomotor-container::before{
  content: "";
  width: 60%;
  height: 8px;
  background-color: #008184;
  position: absolute;
  bottom: -6px;
  border-radius: 10px;
}
#servomotor-container::after{
  content: "";
  width: 20px;
  height: 20px;
  background-color: #00cccf;
  border-width: 2px;
  border-style: solid;
  border-color: #00cccf;
  position: absolute;
  bottom: 0px;
  border-radius: 10px;
}


#servomotor {
  position: absolute;
  transform-origin: center right;
  bottom: 0;
  left: 25%;
  width: 25%;
  height: 20px;
  background-color: aqua;
  border-radius: 15px 10px 10px 15px;
}